$c-background: #51d0de;
$c-borders: darken($c-background, 3%);

* {
  font-family: "Muli", sans-serif;
}

body {
  display: flex;
  height: 100vh;
  background-color: $c-background;
}

#contentDiv {
  width: 100vw;
  margin: 20vh auto auto auto;
  background-color: lighten($c-background, 0%);
  padding: 10px;
  display: flex;
  flex-direction: column;
  // border-right: 2px solid $c-borders;
  // border-bottom: 2px solid $c-borders;
  // border-left: 1px solid $c-borders;
  // border-top: 1px solid $c-borders;
  border-radius: 5px;
}

#pageName {
  margin: 10px auto 15px auto;
}

.headingContent {
  margin: 5px auto;
  text-align: center;
}

.instructions {
  font-family: "Montserrat", sans-serif;
}

#inputDiv {
  margin: 20px auto;
  display: flex;
  justify-content: center;
  max-width: 60vw;
}

#original_url {
  width: 500px;
  max-width: 100%;
}

p {
  margin: 5px auto;
}

.reactionDiv {
  display: flex;
  justify-content: center;
  margin: 10px;
  border: none;
  resize: none;
  text-align: center;
}

#submittedUrl {
  overflow: auto;
  max-height: 75px;
}

#responseDiv {
  //height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#newLink {
  word-wrap: break-word;
  padding: 5px;
}

#copyButton {
  margin: 0 0 0 10px;
}

#tempInput {
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0;
  //Can't use visibility: hidden because then value isn't read
}

@media (max-width: 400px) {
  #contentDiv {
    margin: 0;
  }
}
